body {
  font-family: sans-serif;
  margin: 0;

  user-select: none;
}

:root,
body,
#app {
  height: 100%;
}

.tiles {
  --cell: 6ch;
  height: 100%;
  display: grid;
  grid-gap: 1ch;
  grid-template-columns: repeat(var(--size, 4), var(--cell));
  grid-template-rows: repeat(var(--size, 4), var(--cell));
  justify-content: center;
  align-content: center;
}

.tile {
  font-size: 2vh;
  font-weight: 700;
  display: inline-flex;
  color: black;
  box-shadow: 0 0 0 1px lightpink;
  background-color: hsl(
    26,
    calc(var(--sat, 0) * 1%),
    calc(var(--light, 80) * 1%)
  );
  justify-content: center;
  align-items: center;
}

.message {
  font-size: 8vh;
  font-weight: 700;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.message.hidden {
  display: none;
}
